<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      PUPPER LOGIN
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card> -->
  <div padding>
    <ion-segment [(ngModel)]="userAuthType" color="primary">
      <ion-segment-button value="log in" class="segmentButton">
        Log In
      </ion-segment-button>
      <ion-segment-button value="sign up" class="segmentButton">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </div>

  <p *ngIf="loginAttempted" style="color: #ea6153;">{{errorMessage}}</p>
    <form #signForm="ngForm" [formGroup]="userForm" (ngSubmit)="authenticateUser()">
      <ion-list no-lines>
      <ion-item>
        <ion-label floating>USERNAME/EMAIL</ion-label>
        <ion-input formControlName="email" type="text" [class.invalid]="!userForm.controls.email.valid && (userForm.controls.email.dirty || loginAttempted)" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userForm.controls.email.valid  && (userForm.controls.email.dirty || loginAttempted)">
        <p class="input-err">Please enter a valid email.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>PASSWORD</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!userForm.controls.password.valid && (userForm.controls.password.dirty || loginAttempted)" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userForm.controls.password.valid  && (userForm.controls.password.dirty || loginAttempted)">
        <p class="input-err">A valid password is at least 8 characters in length, and contains a combination of letters, numbers, and special characters." </p>
      </ion-item>
      <ion-item *ngIf="userAuthType == 'sign up'">
        <ion-label floating>CONFIRM PASSWORD</ion-label>
        <ion-input formControlName="confirm" type="password" [class.invalid]="!userForm.controls.confirm.valid && (userForm.controls.confirm.dirty || loginAttempted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="userAuthType == 'sign up' && !(userForm.controls.password.value == userForm.controls.confirm.value)  && (userForm.controls.confirm.dirty || loginAttempted)">
        <p class="input-err">Passwords do not match.</p>
      </ion-item>
  <button ion-button full color="primary" type="submit" class="btn">{{userAuthType}}</button>
</ion-list>

</form>
<!-- </ion-card> -->
</ion-content>
