<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      PUPPER LOGIN
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card> -->
  <div padding>
    <ion-segment [(ngModel)]="userAuthType" color="primary">
      <ion-segment-button value="log in" class="segmentButton">
        Log In
      </ion-segment-button>
      <ion-segment-button value="sign up" class="segmentButton">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </div>

  <p *ngIf="loginAttempted" style="color: #ea6153;">Please fill in all fields.</p>
    <form #signForm="ngForm" [formGroup]="userAccountForm" (ngSubmit)="authenticateUser(signForm.value)">
      <ion-list no-lines>
      <ion-item>
        <ion-label floating>USERNAME/EMAIL</ion-label>
        <ion-input formControlName="email" type="text" [class.invalid]="!userAccountForm.controls.email.valid && (userAccountForm.controls.email.dirty || loginAttempted)" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userAccountForm.controls.email.valid  && (userAccountForm.controls.email.dirty || loginAttempted)">
        <p class="input-error-message">Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>PASSWORD</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!userAccountForm.controls.password.valid && (userAccountForm.controls.password.dirty || loginAttempted)" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!userAccountForm.controls.password.valid  && (userAccountForm.controls.password.dirty || loginAttempted)">
        <p class="input-error-message">A valid password is 8 or more characters.</p>
      </ion-item>
      <ion-item *ngIf="userAuthType == 'sign up'">
        <ion-label floating>CONFIRM PASSWORD</ion-label>
        <ion-input formControlName="confirm" type="password" [class.invalid]="!userAccountForm.controls.confirm.valid && (userAccountForm.controls.confirm.dirty || loginAttempted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!(userAccountForm.controls.password.value == userAccountForm.controls.confirm.value)  && (userAccountForm.controls.confirm.dirty || loginAttempted)">
        <p class="input-error-message">Passwords do not match.</p>
      </ion-item>
  <button ion-button full color="primary" type="submit" class="btn">{{userAuthType}}</button>
</ion-list>

</form>
<!-- </ion-card> -->
</ion-content>
