<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      MATCHING
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-content padding>
    <div class="card-container" *ngIf="nextBatchReady">
      <sc-card padding *ngFor="let card of deckOfCards" [orientation]="cardDirection" [tinder-card]="cardOverlay"
      [callDestroy]="card.destroyEvent" [callLike]="card.likeEvent" (onLike)="onProfileMatchResult($event, card)">
      <div [style.background-image]="card.profileImage"></div>
      <div>
        <ion-label>{{card.name}}</ion-label>
      </div>
      <div>
        <ion-label placeholder="card.info"></ion-label>
      </div>
      <div>
      </div>
    </sc-card>
  </div>
