<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      MATCHING
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-content padding>
    <div class="card-container" *ngIf="ready">
      <sc-card padding *ngFor="let profile of profiles" [orientation]="cardDirection" [tinder-card]="cardOverlay"
      [callDestroy]="profile.destroyEvent" [callLike]="profile.likeEvent" (onLike)="onProfileMatchResult($event)">
      <div class="user_img" [style.background-image]="profile.image"></div>

      <div class="profileCardTitle" >
        <ion-label placeholder="profile.info"></ion-label>
      </div>
      <div class="profileCardInfo" >
      </div>
    </sc-card>
  </div>
