<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      UPLOAD A PROFILE IMAGE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="image-upload-preview">
  <!-- <ion-item>
    <button ion-button color="secondary" (click)="selectProfileImage()">Select Existing Image</button>
    <button ion-button color="secondary" (click)="selectProfileImage()">Take New Image</button>

  </ion-item> -->
  <div>
  <h2 [hidden]="lastImage !== null">SELECT A IMAGE FILE FOR UPLOAD</h2>
  </div>
  <!-- <ion-item [hidden]="lastImage === null">YOUR IMAGE BELOW:</ion-item> -->

  <!-- <ion-card *ngIf="uriReady"> -->
  <!-- <img id="image" src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null"> -->
  <!-- <div [hidden]="lastImage === null"> {{pathForImage(lastImage)}} </div> -->
<!-- </ion-card> -->
<!-- <ion-card *ngIf="uriReady">
=  <img [src]="imageURI" [hidden]="lastImage === null" />
  </ion-card> -->
  <!-- <ion-card>
  <ion-item *ngIf="uriReady">URI: '{{imageURI}}' <br> LAST IMAGE: '{{lastImage}}'</ion-item>
  </ion-card> -->
  <ion-item>
    <h5>Image URI/path: </h5>
    <p>{{imageURI}}</p>
    <br>
    <h4>Image Preview Below</h4>
    <img [src]="imageURI" *ngIf="imageURI" width="300" />
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
        <button ion-button class="btn" full icon-left (click)="getImageUploadDialog()">
        <ion-icon name="camera"></ion-icon> Select Image
      </button>
      <button ion-button class="btn" full icon-left (click)="passImageUriForUpload()" [disabled]="!imagePathForUpload">
        <ion-icon name="cloud-upload"></ion-icon> Upload Image
      </button>
  </ion-toolbar>
</ion-footer>
