<ion-header>
  <ion-navbar color="secondary" class="nav">
    <ion-title class="navTitle">
      Inbox
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="inboxSelector">
      <ion-segment-button value="matches" (click)="retrieveMatches()">
        Matches
      </ion-segment-button>
      <ion-segment-button value="messages" (click)="retrieveMessageHistoriesWithMatches()">
        Messages
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="inboxSelector">
    <div class="inbox-container" *ngIf="messagesReady">
      <ion-searchbar *ngSwitchCase="'messages'" placeholder="Search messages" [(ngModel)]="messageSearchInput" (ionInput)="filterMessages()"></ion-searchbar>

      <ion-list *ngSwitchCase="'messages'">
        <ion-item>
        <button ion-item *ngFor="let inboxMessagePreview of inboxMessagePreviews" (click)="viewMessageHistory(inboxMessagePreview)">
          <ion-avatar item-start>
            <img src="{{inboxMessagePreview.image}}">
          </ion-avatar>
          <h2>{{inboxMessagePreview.matchProfileName}}</h2>
          <h3>{{inboxMessagePreview.timestamp}}</h3>
          <p>{{inboxMessagePreview.message}}</p>
        </button>
        </ion-item>
      </ion-list>
    </div>
    <div class="match-container" *ngIf="matchesReady">
      <!-- <ion-card> -->
      <ion-searchbar *ngSwitchCase="'matches'" placeholder="Search matches" [(ngModel)]="matchSearchInput" (ionInput)="filterMatches()"></ion-searchbar>
      <ion-list *ngSwitchCase="'matches'" lines="none">
        <!-- <button ion-item *ngFor="let match of matchesList" (click)="viewMatchProfile(match)"> -->
        <ion-item *ngFor="let match of matchesList">
          <ion-item-sliding>
            <ion-item>
          <ion-avatar item-start>
            <img src="{{match.profileImage}}">
          </ion-avatar>
          <h2>{{match.names}}</h2>
          <h3>{{match.breed.name}}</h3>
          <h3>{{match.sex}}</h3>
          <h4>ENERGY LEVEL  {{match.energyLevel}}  |   AGE   {{match.lifeStage}}</h4>
          <p>{{match.aboutMe}}</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="primary" (click)="viewMatchProfile(match)">
              <ion-icon name="open" item-start></ion-icon>
              VIEW
            </button>
            <button ion-button color="secondary" (click)="unmatchWithMatchProfile(match.id)">
              <ion-icon name="shuffle" item-start></ion-icon>
              UNMATCH
            </button>
            <button ion-button color="dark" (click)="reportUser(match.userProfile)">
              <ion-icon name="flag" item-start></ion-icon>
              REPORT
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
