<ion-header>
  <ion-navbar color="secondary" class="nav">
    <ion-title class="navTitle">
      Inbox
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="inboxSelector">
      <ion-segment-button value="matches" (click)="retrieveMatches()">
        Matches
      </ion-segment-button>
      <ion-segment-button value="messages" (click)="retrieveMessageHistoriesWithMatches()">
        Messages
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="inboxSelector">
    <div class="inbox-container" *ngIf="messagesReady">
      <!-- <ion-card> -->
      <ion-searchbar placeholder="Search messages" [(ngModel)]="messageSearchInput" (ionInput)="filterMessages()"></ion-searchbar>

      <ion-list *ngSwitchCase="'messages'">
        <button ion-item *ngFor="let inboxMessagePreview of inboxMessagePreviews" (click)="viewMessageHistory(inboxMessagePreview)">
          <ion-avatar item-start>
            <img src="{{inboxMessagePreview.image}}">
          </ion-avatar>
          <h2>{{inboxMessagePreview.matchProfileName}}</h2>
          <h3>{{inboxMessagePreview.timestamp}}</h3>
          <p>{{inboxMessagePreview.message}}</p>
        </button>
      </ion-list>
    </div>
    <div class="match-container" *ngIf="matchesReady">
      <!-- <ion-card> -->
      <ion-searchbar placeholder="Search matches" [(ngModel)]="matchSearchInput" (ionInput)="filterMatches()"></ion-searchbar>
      <ion-list *ngSwitchCase="'matches'">
        <button ion-item *ngFor="let match of matchesList" (click)="viewMatchProfile(match)">
          <ion-avatar item-start>
            <img src="{{match.profileImage}}">
          </ion-avatar>
          <h2>{{match.names}}</h2>
          <h3>{{match.breed.name}}</h3>
          <h3>{{match.sex}}</h3>
          <h4>ENERGY LEVEL  {{match.energyLevel}}  |   AGE   {{match.lifeStage}}</h4>
          <p>{{match.aboutMe}}</p>
        </button>

      </ion-list>
      <!-- </ion-card> -->
    </div>
  </div>
</ion-content>
