page-home {
  h1{
    font-size: 90px;
    font-family: 'Rufina', serif;
    font-weight: bold;
    color: map-get($colors, secondary);
    font-stretch: ultra-condensed;
    text-shadow: 1px 1px 5px map-get($colors, primary);
    text-align: center;
    margin-top: 0px;
    padding-top:0px;
  }
  #logoDiv{
    margin-top: 50px;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;

  }
  #titleDiv{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .home {
    background: linear-gradient(to bottom,  #7EFFD4 0%, #2295FF 100%);
    max-width: 800px;
  }
}
