page-home {
  h1 {
    font-size: 75px;
    font-family: 'Rufina', serif;
    font-weight: bold;
    color: map-get($colors, secondary);
    font-stretch: ultra-condensed;
    text-shadow: 1px 1px 5px map-get($colors, primary);
    text-align: center;
    margin-top: 0px;
    padding-top:0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  h2 {
    text-align: center;
    color: map-get($colors, primary);
    text-shadow: 4px 1px 5px map-get($colors, primary);
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
  }
  #logoDiv {
    margin-top: 5px;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;

  }
  #titleDiv {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .home {
    background: linear-gradient(to bottom,  #7EFFD4 0%, #2295FF 100%);
    max-width: 700px;
  }


  .btn-home-fill {
    display: block;
    color: map-get($colors, secondary);
    font-weight: bold;
    background-color: map-get($colors, primary);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 260px;
    width: 260px;
    text-transform: uppercase;
    border-width: medium;
    border-color: map-get($colors, primary);

  }

  .btn-home-fill:hover{
    background-color: none !important;
    color: map-get($colors, primary);
  }

  .btn-home-outline {
    display: block;
    color: map-get($colors, primary);
    font-weight: bold;
    background-color: none;
    border-radius: 3px;
    border-width: medium;
    border-color: map-get($colors, secondary);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 260px;
    width: 260px;
    text-transform: uppercase;
  }

  .btn-home-outline:hover{
    background-color: map-get($colors, secondary) !important;
    color: map-get($colors, primary);
  }
}
