<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      CREATE MATCHING PROFILE
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-card> -->
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>DOG NAME</ion-label>
      <ion-input [(ngModel)]="names" type="text"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label floating>BREED</ion-label>
        <ion-select [(ngModel)]="breed">
            <ion-option *ngFor="let breed of breedList" [value]="breed">
              <p>{{breed}}</p>
            </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>ENERGY LEVEL</ion-label>
        <ion-select [(ngModel)]="energyLevel">
          <ion-option value="MIN">Minimal</ion-option>
          <ion-option value="LOW">Low</ion-option>
          <ion-option value="MED">Medium</ion-option>
          <ion-option value="HIGH">High</ion-option>
          <ion-option value="EXTREME">Extreme</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>LIFE STAGE</ion-label>
        <ion-select [(ngModel)]="lifeStage">
          <ion-option *ngFor="let lifeStage of lifeStages" [value]="lifeStage">
            <p>{{lifeStage}}</p>
            </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>PUP SIZE</ion-label>
        <ion-select [(ngModel)]="size">
          <ion-option value="TOY">Toy</ion-option>
          <ion-option value="SMALL">Small</ion-option>
          <ion-option value="MID">Mid</ion-option>
          <ion-option value="LARGE">Large</ion-option>
          <ion-option value="XLARGE">X-Large</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>GENDER</ion-label>
        <ion-select [(ngModel)]="sex">
          <ion-option value="FEMALE">FEMALE</ion-option>
          <ion-option value="MALE">MALE</ion-option>
          <ion-option value="UNKNOWN">PREFER NOT TO ANSWER</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-label floating>BIRTHDAY</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="birthdate"></ion-datetime>
    </ion-item>
    <ion-item text-wrap>
      <ion-label floating>ABOUT ME</ion-label><br>
      <ion-textarea [(ngModel)]="aboutMe" type="text" min="0" max="150"></ion-textarea>
    </ion-item>
  </ion-list>
    <br><br>
    <button ion-button full class="btn" (click)="addProfileImage()">Add a profile image</button>
    <button ion-button full class="btn" (click)="createMatchProfile()">Create Profile</button>
  <!-- </ion-card> -->
</ion-content>
