<ion-header>
  <ion-navbar color="primary" class="nav">
    <ion-title class="navTitle">
      CREATE MATCHING PROFILE
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item-divider>
    </ion-item-divider>
    <ion-item-divider>
      MATCH PROFILE
    </ion-item-divider>
    <ion-item>
      <ion-label floating>DOG NAME</ion-label>
      <ion-input [(ngModel)]="names" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>GENDER</ion-label>
      <ion-select [(ngModel)]="sex">
        <ion-option value="FEMALE">FEMALE</ion-option>
        <ion-option value="MALE">MALE</ion-option>
        <ion-option value="UNKNOWN">PREFER NOT TO ANSWER</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>BREED</ion-label>
      <ion-select [(ngModel)]="breed">
        <ion-option *ngFor="let breed of breedList" [value]="breed">
          <p>{{breed.name}}</p>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>BIRTHDAY</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="birthdate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>LIFE STAGE</ion-label>
      <ion-select [(ngModel)]="lifeStage">
        <ion-option *ngFor="let lifeStage of lifeStages" [value]="lifeStage">
          <p>{{lifeStage}}</p>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>ENERGY LEVEL</ion-label>
      <ion-select [(ngModel)]="energyLevel">
        <ion-option *ngFor="let energy of energyLevels" [value]="energy.value">
          <p>{{energy.option}}</p>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>DOG SIZE</ion-label>
      <ion-select [(ngModel)]="size">
        <ion-option *ngFor="let size of sizes" [value]="size.value">
          <p>{{size.option}}</p>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item text-wrap>
      <ion-label floating>ABOUT ME</ion-label><br>
      <ion-textarea [(ngModel)]="aboutMe" type="text" min="0" max="130"></ion-textarea>
    </ion-item>
    <ion-item-divider>
    </ion-item-divider>
    <ion-item-divider>
      MATCHING PREFERENCES
    </ion-item-divider>
    <ion-item>
      <ion-label color="primary">MATCHING RADIUS</ion-label>
      <ion-range [(ngModel)]="radius" min="0" max="50" step="1" color="primary" snaps="true" pin="true">
        <ion-label range-left>0 miles</ion-label>
        <ion-label range-right>50 miles</ion-label>
      </ion-range>
    </ion-item>
    <h2>MATCH ME WITH THE FOLLOWING MATCH PROFILE TYPES...</h2>
    <ion-item>
      <ion-label>SELECT SIZES</ion-label>
      <ion-select [(ngModel)]="dogSizes" multiple="true">
          <ion-option *ngFor="let size of sizePreferences" [value]="size.value">
            <p>{{size.option}}</p>
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>SELECT LIFESTAGES/AGE GROUPS</ion-label>
        <ion-select [(ngModel)]="dogAges" multiple="true">
          <ion-option *ngFor="let age of lifeStagePreferences" [value]="age.value">
            <p>{{age.option}}</p>
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>SELECT ENERGY LEVELS</ion-label>
        <ion-select [(ngModel)]="dogEnergies" multiple="true">
          <ion-option *ngFor="let energy of energyLevelPreferences" [value]="energy.value">
            <p>{{energy.option}}</p>
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">SET AS DEFAULT</ion-label>
        <ion-toggle item-end right color="secondary" checked="true" [(ngModel)]="isActiveMatchProfile"></ion-toggle>
      </ion-item>
    </ion-list>
    <br><br>
    <button ion-button full class="btn" (click)="selectProfileImage()">Add a profile image</button>
    <button ion-button full class="btn" (click)="createMatchProfile()">Create Profile</button>
  </ion-content>
