page-match-profile-detail {
  .profile-div {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .profile-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
