<ion-header>
  <ion-navbar>
    <ion-title *ngIf="profilesReady">Match Profile Detail Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-scroll style="height: 100%" scrollY="true">
  <ion-list *ngFor="let profile of matchProfilesList">
    <ion-item>
      <div class="profile-div">
        <div class="profile-image-div" text-center [style.background-image]="'url(' + profile.profileImage + ')'" *ngIf="profilesReady">
        </div>
        <div class="profile-detail" padding *ngIf="profilesReady">
          <h2>{{profile.names}}</h2>
          <h4>{{profile.sex}} || {{profile.breed.name}}</h4>
          <h4>ENERGY LEVEL: {{profile.energyLevel}} || LIFESTAGE: {{profile.lifeStage}} || SIZE: {{profile.size}}</h4>
          <p>{{profile.aboutMe}}</p>
        </div>
        <div>
          <button ion-item  full color="secondary" (click)="editMatchProfile(profile)" *ngIf="!readOnly && profilesReady">Edit Match Profile</button>
          <!--        <button ion-button outline (click)="updateActiveMatchProfile()" class="btn-home-fill" *ngIf="!readOnly && profileReady && !isDefaultForActiveUser">Set As Default Match Profile</button>-->
          <button ion-button full outline (click)="updateActiveMatchProfile()" class="btn-home-fill" *ngIf="!readOnly && profilesReady && !profile.isDefault">Set As Default Match Profile</button>
          <button ion-item  full color="secondary" (click)="viewUserProfile(profile)" *ngIf="readOnly && profilesReady">View My Owner's Profile</button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  </ion-scroll>
</ion-content>
