<ion-header>
  <!--  <ion-navbar>-->
  <!--    <ion-title *ngIf="profileReady">{{ profile.names }}</ion-title>-->
  <!--  </ion-navbar>-->
</ion-header>
<ion-content>
  <ion-list *ngFor="let profile of matchProfiles">
    <ion-item>
      <div class="profile-div" text-center [style.background-image]="'url(' + profile.profileImage + ')'" *ngIf="profileReady">
      </div>
      <div class="profile-detail" padding *ngIf="profileReady">
        <h2>{{profile.names}}</h2>
        <h2>{{profile.sex}}</h2>
        <h2>{{profile.birthdate}}</h2>
        <h2>{{profile.energyLevel}}</h2>
        <h2>{{profile.lifeStage}}</h2>
        <h2>{{profile.breed.name}}</h2>
        <p>{{profile.aboutMe}}</p>
        <button ion-item  full color="secondary" (click)="editMatchProfile(profile)" *ngIf="!readOnly && profileReady">Edit Match Profile</button>
        <!--        <button ion-button outline (click)="updateActiveMatchProfile()" class="btn-home-fill" *ngIf="!readOnly && profileReady && !isDefaultForActiveUser">Set As Default Match Profile</button>-->
        <button ion-button outline (click)="updateActiveMatchProfile()" class="btn-home-fill" *ngIf="!readOnly && profileReady && !profile.isDefault">Set As Default Match Profile</button>
        <button ion-item  full color="secondary" (click)="viewUserProfile(profile)" *ngIf="readOnly && profileReady">View My Owner's Profile</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
