<ion-header>
  <ion-navbar>
    <ion-title *ngIf="profilesReady">MATCH PROFILES</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-scroll style="height: 100%" scrollY="true">
    <ion-item>
      <button ion-item  full color="secondary" (click)="viewUserProfile()" *ngIf="privateView && profilesReady">VIEW OWNER PROFILE</button>
    </ion-item>
    <ion-list *ngFor="let profile of matchProfilesList">
      <ion-card>
        <div class="profile-div">
          <div class="profile-image-div" [style.background-image]="'url(' + profile.profileImage + ')'" *ngIf="profilesReady">
          </div>
          <div class="profile-detail" padding *ngIf="profilesReady">
            <ion-card-title><h1>{{profile.names}}</h1></ion-card-title>
            <ion-card-header>
              <h2>{{profile.sex}}   |   {{profile.breed.name}}</h2>
              <h2>SIZE:   {{profile.size}}</h2>
              <h2>ENERGY LEVEL:   {{profile.energyLevel}}</h2>
              <h2>LIFESTAGE:    {{profile.lifeStage}}</h2>
            </ion-card-header>
            <ion-card-content>
              <p>{{profile.aboutMe}}</p>
            </ion-card-content>
          </div>
          <div>
            <button ion-item  full color="secondary" (click)="editMatchProfile(profile)" *ngIf="!readOnly && profilesReady">Edit Match Profile</button>
            <button ion-item full outline (click)="updateActiveMatchProfile()" class="btn-home-fill" *ngIf="!readOnly && profilesReady && !profile.isDefault">SET AS DEFAULT</button>
          </div>
        </div>
      </ion-card>
    </ion-list>
  </ion-scroll>
</ion-content>
